.classpath
.project
*.class
bin/*
.DS_Store
.settings
minecraft_server.jar

banned-ips.txt

banned-players.txt

ircdeamon.txt

ops.txt

*.log
*.log*
startIrc.sh

stopIrc.sh

white-list.txt
world*
world/*
server.properties
doc
doc/*
libsrc
libsrc/*
bukkit.yml
permissions.yml
help.yml
craftbukkit*